<a href="https://colab.research.google.com/github/vineetsoni871/Python/blob/main/16_Jan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# mylist=> [10,20,4,7,5,12]
# [20,7]
mylist= [10,20,4,7,5,12]

for i in range(0,len(mylist)-1):
    if mylist[i]>mylist[i+1]:
      print(mylist[i],mylist[i+1])

20 4
7 5

In [15]:
mylist=[10,20,4,7,5,12]
for i in range(0,1):
  for j in range(i+1,len(mylist)):
    if mylist[j]>mylist[i]:
      temp=mylist[i]
      mylist[i]=mylist[j]
      mylist[j]=temp

      print(mylist)

[20, 10, 4, 7, 5, 12]

In [13]:
mylist=[10,20,4,70,500,12,850]
maxi=mylist[0]
for i in range(1,len(mylist)):
  if mylist[i]>maxi:
    maxi=mylist[i]
print(maxi)

850

In [17]:
# Find second highest
list=[10,30,500,70,60,100]
x=list[0]
y=0
for i in range(0,len(list)):
  if list[i]>x:
    y=x
    x=list[i]
  elif list[i]>y:
    y=list[i]
print("Second highest=",y)

Second highest= 100

In [19]:
list=[0,1,2,4,6,8,9,11]
k=13
for i in range(0,len(list)):
  for j in range(i+1,len(list)):
    if list[i]+list[j]==k:
      print(list[i],list[j])

2 11
4 9