# Column Transformer

In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

from sklearn.preprocessing import OrdinalEncoder

In [3]:
df = pd.read_csv("C:\\Pandas\\covid_toy.csv")

In [4]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train , x_test , y_train , y_test = train_test_split(df.drop(
    columns = ['has_covid']) , df['has_covid'] , test_size = 0.2)

In [8]:
x_train

    age  gender  fever   cough       city
59    6  Female  104.0    Mild    Kolkata
70   68  Female  101.0  Strong      Delhi
69   73  Female  103.0    Mild      Delhi
10   75  Female    NaN    Mild      Delhi
96   51  Female  101.0  Strong    Kolkata
..  ...     ...    ...     ...        ...
65   69  Female  102.0    Mild  Bangalore
61   81  Female   98.0  Strong     Mumbai
90   59  Female   99.0  Strong      Delhi
21   73    Male   98.0    Mild  Bangalore
77    8  Female  101.0    Mild    Kolkata

[80 rows x 5 columns]

# Manually type output

In [9]:
# adding simple imputer to fever column
si = SimpleImputer(strategy = "mean")
x_train_fever = si.fit_transform(x_train[['fever']])

# also te test data
x_test_fever = si.fit_transform(x_test[['fever']])

x_train_fever.shape

(80, 1)

In [11]:
# ordinal Encoding ---> Cough

oe = OrdinalEncoder(categories = [['Mild' , 'Strong']])
x_train_cough = oe.fit_transform(x_train[['cough']])

# also the test data
x_test_cough = oe.fit_transform(x_test[['cough']])

x_train_cough.shape

(80, 1)

In [12]:
# onehotencoding ---> gender ,city 
obe = OneHotEncoder(drop='first',sparse_output=False)
x_train_gender_city = obe.fit_transform(x_train[['gender','city']])
# also the test data
x_test_gender_city = obe.fit_transform(x_test[['gender','city']])
x_train_gender_city.shape

(80, 4)

In [14]:
# extracting age 

x_train_age = x_train.drop(columns = ['gender','fever','cough','city']).values

# also the test data

x_test_age = x_test.drop(columns = 
                         ['gender','fever','cough','city']).values

In [15]:
x_train_age.shape

(80, 1)

In [16]:
x_train_transformed = np.concatenate((x_train_age , x_train_fever , 
                                     x_train_gender_city , 
                                     x_train_cough) , axis = 1)

In [17]:
# x_test_transformed = np.concatenate((x_test_age , x_test_fever , 
                                     # x_test_gender_city , 
                                     # x_test_cough) , axis = 1)

In [18]:
x_train_transformed.shape

(80, 7)

# By the help of column transformer

In [25]:
from sklearn.compose import ColumnTransformer # this is hoe to import column trasfom imputer
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']), # in a ferver column by the help of si we fill the missing values by mean mode median   
    
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    # in this process we encoding our data 
    ('tnf3',OneHotEncoder(drop='first',sparse_output=False),['gender','city'])
],remainder='passthrough') # remainder = passthrough ==> it means rest all the columns remains same

In [27]:
transformer.fit_transform(x_train).shape

(80, 7)

In [28]:
transformer.transform(x_test).shape

(20, 7)

In [30]:
# Q.
# covid data

# df.types ---> 
# categorical_columns ---> missing value fill ----> Encode
# numerical_columns ----> missing value fill ----> standardize ---> finally merge the data

# create a function in which data is passed as an argument then function will do upper steps.