In [11]:
# Data ----> Independent data (x) , dependent data (y)

# x -----> x_train , x_test
# y -----> y_train , y_test

# Machine ----> for  training ----> (x_train , y_train)
# 2+2 = 4
# 3+2 = 5

# Machine ---> Prediction (x_test)  --->
# 6+5 = ???? ----> 12 (y_pred)
# (y_test) = 11

In [12]:
import numpy as np
import pandas as pd

In [18]:
df = pd.read_csv("C:\\Users\\Anmol Hemani\\OneDrive\\Desktop\\Jupyter\\Test\\placement.csv")
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [20]:
df.shape

(100, 3)

In [21]:
df.isnull().sum()

cgpa            0
resume_score    0
placed          0
dtype: int64

In [22]:
x = df.drop(columns = ['placed'] )  # Input data
y = df['placed']  # Target Data

In [23]:
from sklearn.model_selection import train_test_split

In [25]:
x_train, x_test, y_train, y_test = train_test_split(x,
                                                    y,
                                                    test_size=0.2,
                                                    random_state = 42)
# random_state will fix the generated value like seed in numpy
# test_size will fix the 20% data for testing

In [26]:
print("Total DataFrame Shape:", df.shape)
print("---------------------------")
print("Input data (x) shape :", x.shape)
print("x_train data shape :", x_train.shape)
print("x_test data shave :", x_test.shape )
print("---------------------------")
print("Target data (y) shape :", y.shape)
print("y_train data shape :", y_train.shape)
print("y_test data shave :", y_test.shape )

Total DataFrame Shape: (100, 3)
---------------------------
Input data (x) shape : (100, 2)
x_train data shape : (80, 2)
x_test data shave : (20, 2)
---------------------------
Target data (y) shape : (100,)
y_train data shape : (80,)
y_test data shave : (20,)

# Data 2

In [27]:
df = pd.read_csv("C:\\Users\\Anmol Hemani\\OneDrive\\Desktop\\Jupyter\\Test\\covid_toy.csv")
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [28]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [29]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\anmol hemani\appdata\local\programs\python\python312\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\anmol hemani\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\anmol hemani\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.13.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\anmol hemani\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\anmol hemani\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.5.0)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [31]:
from sklearn.impute import SimpleImputer

In [33]:
si = SimpleImputer(strategy = 'mean')

In [34]:
df['fever'] = si.fit_transform(df[['fever']])

In [35]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [36]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [37]:
x = df.drop(columns = ['has_covid'] )  # Input data
y = df['has_covid']   # Target Data

In [38]:
from sklearn.model_selection import train_test_split

In [40]:
x_train, x_test, y_train, y_test = train_test_split(x,
                                                    y,
                                                    test_size=0.2,
                                                    random_state = 42)

In [41]:
print("Total DataFrame Shape:", df.shape)
print("---------------------------")
print("Input data (x) shape :", x.shape)
print("x_train data shape :", x_train.shape)
print("x_test data shave :", x_test.shape )
print("---------------------------")
print("Target data (y) shape :", y.shape)
print("y_train data shape :", y_train.shape)
print("y_test data shave :", y_test.shape )

Total DataFrame Shape: (100, 6)
---------------------------
Input data (x) shape : (100, 5)
x_train data shape : (80, 5)
x_test data shave : (20, 5)
---------------------------
Target data (y) shape : (100,)
y_train data shape : (80,)
y_test data shave : (20,)

# Data 3

In [42]:
df = pd.read_csv("C:\\Users\\Anmol Hemani\\OneDrive\\Desktop\\Jupyter\\Test\\tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [44]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [45]:
x = df.drop(columns = ['tip'] )  # Input data
y = df['tip']   # Target Data

In [46]:
x_train, x_test, y_train, y_test = train_test_split(x,
                                                    y,
                                                    test_size=0.2,
                                                    random_state = 42)

In [47]:
print("Total DataFrame Shape:", df.shape)
print("---------------------------")
print("Input data (x) shape :", x.shape)
print("x_train data shape :", x_train.shape)
print("x_test data shave :", x_test.shape )
print("---------------------------")
print("Target data (y) shape :", y.shape)
print("y_train data shape :", y_train.shape)
print("y_test data shave :", y_test.shape )

Total DataFrame Shape: (244, 7)
---------------------------
Input data (x) shape : (244, 6)
x_train data shape : (195, 6)
x_test data shave : (49, 6)
---------------------------
Target data (y) shape : (244,)
y_train data shape : (195,)
y_test data shave : (49,)