<a href="https://colab.research.google.com/github/vineetsoni871/Python/blob/main/List_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Write a program to print the first 25 odd numbers in list

list=[]
count=0
num=1
while count<25:
  if num%2!=0:
    list.append(num)
    count+=1
  num+=1
print(list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [ ]:
# 4. Remove empty strings from a list of strings
str1=input("Enter the string:")
mylist=[]
for i in str1:
  if i!=" ":
    mylist.append(i)
print(mylist)

Enter the string:vineet  soni
['v', 'i', 'n', 'e', 'e', 't', 's', 'o', 'n', 'i']

In [ ]:
# Pascals Triangle
mylist=[]
for i in range(0,5):
  templist=[]
  for k in range(0,i+1):
    if(k==0 or k==i ):
      templist.append(1)
    else:
      templist.append( mylist[i-1][k-1] + mylist[i-1][k] )
  mylist.append(templist)

print(mylist)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [ ]:
# 3. Count all letters, digits, and special symbols from a given string
# a. given-->str1 = "P@#yn26at^&i5ve"
# b. expected-->Total counts of chars, digits, and symbols
str1 = "P@#yn26at^&i5ve"
char=[]
charcount=0
digit=[]
digitcount=0
symbol=[]
symbolcount=0
for i in str1:
  if(ord(i)>=65 and ord(i)<=90) or (ord(i)>=97 and ord(i)<=122):
    char.append(i)
    charcount+=1
  elif(ord(i)>=48 and ord(i)<=57):
    digit.append(i)
    digitcount+=1
  else:
    symbol.append(i)
    symbolcount+=1

print("Total counts of chars : ",charcount)
print("Total counts of digits : ",digitcount)
print("Total counts of symbols : ",symbolcount)

Total counts of chars :  8
Total counts of digits :  3
Total counts of symbols :  4

In [ ]:
# 6. Removal all characters from a string except integers
# a. str1 = 'I am 25 years and 10 months old'
# b. expected-->2510
str1 = 'I am 25 years and 10 months old'
str2=""
for i in str1:
  if ord(i)>=48 and ord(i)<=57:
    a=int(i)
    print(a,end="")

2510

In [ ]:
# 5. Remove special symbols / punctuation from a string
str1=input("Enter the string :")
mylist=[]
for i in str1:
  mylist.append(i)
  if(ord(i)>=33 and ord(i)<=47 or ord(i)>=58 and ord(i)<=64 or ord(i)>=91 and ord(i)<=96 or ord(i)>=123 and ord(i)<=126 ):
    mylist.remove(i)
print(mylist)

Enter the string :Vineet@123
['V', 'i', 'n', 'e', 'e', 't', '1', '2', '3']

In [ ]:
# 2. Arrange string characters such that lowercase letters should come first

string=input("Enter the String : ")
mylist=[]
for i in string:
  if(ord(i)>=97 and ord(i)<=123):
    mylist.append(i)
for i in string:
  if(ord(i)>=65 and ord(i)<=90):
    mylist.append(i)
print(mylist)

Enter the String : vInEeT
['v', 'n', 'e', 'I', 'E', 'T']

In [2]:
# 7. extract the email service provider name
# a. emaillist=["KSR@datavizion.com","mymail@yahoo.com","milindmali@google.com","snehal@health
emaillist=["KSR@datavizion.com","mymail@yahoo.com","milindmali@google.com","snehal@health"]
newlist=[]
for i in range (0,len(emaillist)):
  str1=""
  for j in range (0,len(emaillist[i])):
    if emaillist[i][j]=="@":
      for k in range (j+1,len(emaillist[i])):
        if emaillist[i][k]==".":
          break
        else:
          str1+=emaillist[i][k]
      print(str1)
      newlist.append(str1)
print(newlist)

datavizion
yahoo
google
health
['datavizion', 'yahoo', 'google', 'health']

In [3]:
# 8. extract all the emailid for the given string
# a. string="Hi my name is Govind Das and my mail id is
# milindmali108@gmail.com and my org"
# b. Output => milindmali108@gmail.com

In [4]:
# 9. Create a Python set such that it shows the element from both lists in a pair
# a. first_list = [2, 3, 4, 5, 6, 7, 8]
# b. second_list = [4, 9, 16, 25, 36, 49, 64]
# c. Result is {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
result=set()
for i in range(0,len(first_list)):
  for j in range(0,len(second_list)):
    if([i]==[j]):
      pair=(first_list[i],second_list[j])
      result.add(pair)
print(result)

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

In [5]:
# 10. Write a program to reverse a List in Python
# a. list = [4, 5, 6, 7, 8, 9]
# b. Output => [9, 8, 7, 6, 5, 4]
list1 = [4, 5, 6, 7, 8, 9]
list2=[]
for i in range(len(list1)-1,-1,-1):
  list2.append(list1[i])
print(list2)

[9, 8, 7, 6, 5, 4]

In [8]:
# 11. Write a program to clone or copy the list:
list1 = [4, 5, 6, 7, 8, 9]
list2=[]
for i in range(0,len(list1)):
  list2.append(list1[i])
print(list1)
print(list2)

[4, 5, 6, 7, 8, 9]
[4, 5, 6, 7, 8, 9]

In [9]:
# 12. Write a program to get sum of number of digit in a list
list1 = [4, 5, 6, 7, 8, 9]
sum=0
for i in range(0,len(list1)):
  sum+=list1[i]
print(sum)

39

In [10]:
# 13. Write a program to get the smallest number in a list
# Note => without using reverse(), sort() and slicing operator
list1 = [5, 4, 6, 7, 8, 9]
min=list1[0]
for i in range(1,len(list1)):
  if(list1[i]<min):
    min=list1[i]
print("The smallest Number in list is:",min)

The smallest Number in list is: 4

In [12]:
# 14. Write a program to print the count of even and odd number from a list
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
even_count=0
odd_count=0
for i in range(0,len(list1)):
  if list1[i]%2==0:
    even_count+=1
  else:
    odd_count+=1
print("Count of even numbers:",even_count)
print("Count of odd numbers:",odd_count)

Count of even numbers: 9
Count of odd numbers: 10

In [14]:
# 15. Write a program to get count of unique values inside a list
# a. input_list = [1, 2, 2, 5, 8, 4, 4, 8]
# b. Output => 5
list1 = [1, 2, 2, 5, 8, 4, 4, 8]
list2=[]
for i in list1:
  if i not in list2:
    list2.append(i)
print("Count of unique values:",len(list2))

Count of unique values: 5