In [1]:
# Normalization ---> min_value = 0 , max_value = 1

# 1. Covid data

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("C:\\Pandas\\covid_toy.csv")

In [4]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
from sklearn.impute import SimpleImputer

In [7]:
si = SimpleImputer()

In [8]:
df['fever'] = si.fit_transform(df[['fever']])

In [9]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [10]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [11]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [12]:
df['gender'] = df['gender'].map({'Male':0 , 'Female':1})
df['cough'] = df['cough'].map({'Mild':0 , 'Strong':1})
df['city'] = df['city'].map({'Kolkata':0 , 'Bangalore':1 , 'Delhi':2 , 'Mumbai':3})
df['has_covid'] = df['has_covid'].map({'No':0 , 'Yes':1})

In [13]:
df.head()

   age  gender  fever  cough  city  has_covid
0   60       0  103.0      0     0          0
1   27       0  100.0      0     2          1
2   42       0  101.0      0     2          0
3   31       1   98.0      0     0          0
4   65       1  101.0      0     3          0

In [14]:
from sklearn.model_selection import train_test_split

In [23]:
x = df.drop(columns = ['has_covid'])

y = df['has_covid']

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x,y,
                                                   test_size=0.2,random_state=42)

In [25]:
np.round(x_train.describe(),2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   42.91    0.59  100.98   0.40   1.26
std    24.47    0.50    1.93   0.49   1.06
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00  100.00   0.00   0.00
50%    42.00    1.00  101.00   0.00   1.00
75%    65.00    1.00  102.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

In [17]:
from sklearn.preprocessing import MinMaxScaler

In [18]:
mn = MinMaxScaler()

In [26]:
x_train_mn = mn.fit_transform(x_train)

In [28]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [29]:
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean    0.48    0.59   0.50   0.40   0.42
std     0.31    0.50   0.32   0.49   0.35
min     0.00    0.00   0.00   0.00   0.00
25%     0.19    0.00   0.33   0.00   0.00
50%     0.47    1.00   0.50   0.00   0.33
75%     0.76    1.00   0.67   1.00   0.67
max     1.00    1.00   1.00   1.00   1.00

# 2. Tips data

In [30]:
df = pd.read_csv("C:\\Pandas\\tips.csv")

In [31]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [32]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [33]:
df['sex'] = df['sex'].map({'Male':1 , 'Female':0})
df['smoker'] = df['smoker'].map({'No':0 , 'Yes':1})
df['time'] = df['time'].map({'Dinner':0 , 'Lunch':1})
df['day'] = df['day'].map({'Sun':0 , 'Sat':1})

In [34]:
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0  0.0     0     2
1       10.34  1.66    1       0  0.0     0     3
2       21.01  3.50    1       0  0.0     0     3
3       23.68  3.31    1       0  0.0     0     2
4       24.59  3.61    0       0  0.0     0     4

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
x = df.drop(columns = ['total_bill'])

y = df['total_bill']

In [37]:
x_train, x_test, y_train, y_test = train_test_split(x,y,
                                                   test_size=0.2,random_state=42)

In [38]:
np.round(x_train.describe(),2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  131.00  195.00  195.00
mean     3.09    0.65    0.38    0.53    0.27    2.57
std      1.43    0.48    0.49    0.50    0.45    0.94
min      1.00    0.00    0.00    0.00    0.00    1.00
25%      2.00    0.00    0.00    0.00    0.00    2.00
50%      3.00    1.00    0.00    1.00    0.00    2.00
75%      3.70    1.00    1.00    1.00    1.00    3.00
max     10.00    1.00    1.00    1.00    1.00    6.00

In [39]:
from sklearn.preprocessing import MinMaxScaler

In [40]:
mn = MinMaxScaler()

In [41]:
x_train_mn = mn.fit_transform(x_train)

In [42]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [43]:
np.round(x_train_new.describe(),2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  131.00  195.00  195.00
mean     0.23    0.65    0.38    0.53    0.27    0.31
std      0.16    0.48    0.49    0.50    0.45    0.19
min      0.00    0.00    0.00    0.00    0.00    0.00
25%      0.11    0.00    0.00    0.00    0.00    0.20
50%      0.22    1.00    0.00    1.00    0.00    0.20
75%      0.30    1.00    1.00    1.00    1.00    0.40
max      1.00    1.00    1.00    1.00    1.00    1.00