In [ ]:
# A
# AB
# ABC
# ABCD
# ABCDE
for i in range(1,6):
  a=65
  for j in range(0,i):
    print(chr(a+j),end="")
  print()

A
AB
ABC
ABCD
ABCDE

In [ ]:
a=65
for i in range(1,6):
  for j in range(1,i+1):
    print(chr(a),end="")
  a+=1
  print()

A
BB
CCC
DDDD
EEEEE

In [ ]:
# 5
# 4 5
# 3 4 5
# 2 3 4 5
# 1 2 3 4 5
for i in range(5,0,-1):
  for j in range(i,6):
    print(j,end=" ")
  print()

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [ ]:
#         *
#       * *
#     * * *
#   * * * *
# * * * * *
for i in range(1,6):
  for j in range(i,5):
    print(" ",end="")
  for k in range(i):
    print("*",end="")
  print()

    *
   **
  ***
 ****
*****

In [ ]:
#         1
#       1 2
#     1 2 3
#   1 2 3 4
# 1 2 3 4 5
for i in range(1,6):
  for j in range(5,i,-1):
    print(" ",end="")
  for k in range(1,i+1):
    print(k,end="")
  print()

    1
   12
  123
 1234
12345

In [ ]:
# 1 2 3 4 5
#   1 2 3 4
#     1 2 3
#       1 2
#         1
for i in range(1,6):
  z=1
  for j in range(1,i):
    print(" ",end="")
  for k in range(i,6):
    print(z,end="")
    z+=1
  print()

12345
 1234
  123
   12
    1

In [ ]:
# A B C D E
#   A B C D
#     A B C
#       A B
#         A
for i in range(5,0,-1):
  for j in range(5,i,-1):
    print(" ",end="")
  for k in range(i):
    print(chr(65+k),end="")
  print()

ABCDE
 ABCD
  ABC
   AB
    A

In [ ]:
#     * * * * *
#    * * * * *
#   * * * * *
#  * * * * *
# * * * * *
for i in range(1,6):
  for j in range(5,i,-1):
    print(" ",end="")
  for k in range(1,6):
    print("*",end="")
  print()

    *****
   *****
  *****
 *****
*****

In [ ]:
for i in range(1,6):
  for j in range(5,i,-1):
    print(" ",end="")
  for k in range(1,6):
    print(chr(65+k-1),end="")
  print()

    ABCDE
   ABCDE
  ABCDE
 ABCDE
ABCDE

In [ ]:
for i in range(1,6):
  for j in range(5,i,-1):
    print(" ",end="")
  for k in range(1,6):
    print(k,end="")
  print()

    12345
   12345
  12345
 12345
12345

In [ ]:
for i in range(1,5):
  for j in range(i,4):
    print(" ",end="")
  for k in range(1,2*i):
    print("*",end="")
  print()

   *
  ***
 *****
*******

In [ ]:
for i in range(1,5):
  for j in range(i,4):
    print(" ",end="")
  for k in range(1,2*i):
    if k==1 or i==4 or k==(2*i)-1:
      print("*",end="")
    else:
      print(" ",end="")
  print()

   *
  * *
 *   *
*******

In [ ]:
for i in range(4,0,-1):
  for j in range(i,4):
    print(" ",end="")
  for k in range(1,2*i):
    print("*",end="")
  print()

*******
 *****
  ***
   *

In [ ]:
# *
# **
# ***
# ****
# ***
# **
# *
for i in range(1,5):
  for j in range(1,i+1):
    print("*",end="")
  print()
for i in range(3,0,-1):
  for j in range(1,i+1):
    print("*",end="")
  print()

*
**
***
****
***
**
*

In [ ]:
for i in range(1,5):
  for j in range(4,i,-1):
    print(" ",end="")
  for k in range(1,i+1):
    print("*",end="")
  print()
for i in range(3,0,-1):
  for j in range(4,i,-1):
    print(" ",end="")
  for k in range(1,i+1):
    print("*",end="")
  print()

   *
  **
 ***
****
 ***
  **
   *

In [ ]:
#    *
#   ***
#  *****
# *******
#  *****
#   ***
#    *
for i in range(1,5):
  for j in range(i,4):
    print(" ",end="")
  for k in range(1,2*i):
    print("*",end="")
  print()
for i in range(3,0,-1):
  for j in range(i,4):
    print(" ",end="")
  for k in range(1,2*i):
    print("*",end="")
  print()

   *
  ***
 *****
*******
 *****
  ***
   *

In [ ]:
# Half Pyramid
# 1
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
# 1 2 3 4 5
# 1 2 3 4
# 1 2 3
# 1 2
# 1
for i in range(5,0,-1):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
# 1
# 1 2
# 1   3
# 1     4
# 1 2 3 4 5
for i in range(1,6):
  for j in range(1,i+1):
    if j==1 or i==j or i==5:
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print()

1
1 2
1   3
1     4
1 2 3 4 5

In [ ]:
z=1
for i in range(0,5):
  for j in range(5,i,-1):
    print(" ",end="")
  for k in range(0,i+1):
    print(z,end="")
    z+=1
  z-=i
  for l in range(1,i+1):
    print(z-1,end="")
    z+=1
  z-=i
  print()

     1
    232
   34534
  4567456
 567895678

In [ ]:
for i in range(1,6):
  for j in range(i,5):
    print(" ",end="")
  for k in range(1,i+1):
    if i==5  or k==1:
      print(k,end=" ")
    else:
      print(" ",end="")
  print()

    1
   1
  1
 1
1 2 3 4 5

In [ ]:
# 1 2 3 4 5
# 2     5
# 3   5
# 4 5
# 5
for i in range(1,6):
  for j in range(i,6):
    if i==1 or j==i or j==5:
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print()

1 2 3 4 5
2     5
3   5
4 5
5

In [ ]:
# *        *
# **      **
# ***    ***
# ****  ****
# **********
# ****  ****
# ***    ***
# **      **
# *        *
for i in range(1,6):
  for j in range(1,i+1):
    print("*",end="")
  for k in range(2*i,10):
    print(" ",end="")
  for l in range(1,i+1):
    print("*",end="")
  print()
for i in range(5,1,-1):
  for j in range(1,i):
    print("*",end="")
  for k in range(2*i,12):
    print(" ",end="")
  for l in range(1,i):
    print("*",end="")
  print()

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [ ]:
n1=0
n2=1
print("Fibonacci Series:")
print(n1,end=" ")
print(n2,end=" ")
n3=0
for i in range(1,11):
  n3=n1+n2
  print(n3,end=" ")
  n1=n2
  n2=n3

Fibonacci Series:
0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
#    *
#   ***
#  *****
# *******
#  *****
#   ***
#    *
for i in range(1,5):
  for j in range(i,4):
    print(" ",end="")
  for k in range(1,2*i):
    print("*",end="")
  print()
for i in range(3,0,-1):
  for j in range(i,4):
    print(" ",end="")
  for k in range(1,2*i):
    print("*",end="")
  print()

   *
  ***
 *****
*******
 *****
  ***
   *

In [ ]:
#     1
#    1 2
#   1   3
#  1     4
# 1 2 3 4 5
for i in range(1,6):
  for j in range(i,5):
    print(" ",end="")
  for k in range(1,i+1):
    if i==5 or k==1 or k==i:
      print(k,end=" ")
    else:
      print(" ",end=" ")

  print()

    1
   1 2
  1   3
 1     4
1 2 3 4 5

In [ ]:
for i in range(1,6):
  for j in range(i,6):
    if i==1 or i==j or j==5 :
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print()

1 2 3 4 5
2     5
3   5
4 5
5

In [ ]:
#         *
#       * * *
#     * * * * *
#   * * * * * * *
# * * * * * * * * *
#   * * * * * * *
#     * * * * *
#       * * *
#         *

for i in range(1,6):
  for j in range(i,5):
    print(" ",end=" ")
  for k in range(1,2*i):
    print("*",end=" ")
  print()
for i in range(4,0,-1):
  for j in range(i,5):
    print(" ",end=" ")
  for k in range(1,2*i):
    print("*",end=" ")
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
#         1
#       1 2 3
#     1 2 3 4 5
#   1 2 3 4 5 6 7
# 1 2 3 4 5 6 7 8 9
#   1 2 3 4 5 6 7
#     1 2 3 4 5
#       1 2 3
#         1
for i in range(1,6):
  for j in range(i,5):
    print(" ",end=" ")
  for k in range(1,2*i):
    print(k,end=" ")
  print()
for i in range(4,0,-1):
  for j in range(i,5):
    print(" ",end=" ")
  for k in range(1,2*i):
    print(k,end=" ")
  print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1

In [ ]:
# 1 2 3 4 5 6 7 8 9
#   1 2 3 4 5 6 7
#     1 2 3 4 5
#       1 2 3
#         1
#       1 2 3
#     1 2 3 4 5
#   1 2 3 4 5 6 7
# 1 2 3 4 5 6 7 8 9
for i in range(5,1,-1):
  for j in range(i,5):
    print(" ",end=" ")
  for k in range(1,2*i):
    print(k,end=" ")
  print()
for i in range(1,6):
  for j in range(i,5):
    print(" ",end=" ")
  for k in range(1,2*i):
    print(k,end=" ")
  print()

1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [ ]:
# A B C D E F G H I
#   A B C D E F G
#     A B C D E
#       A B C
#         A
#       A B C
#     A B C D E
#   A B C D E F G
# A B C D E F G H I
for i in range(5,1,-1):
  z=65
  for j in range(i,5):
    print(" ",end=" ")
  for k in range(1,2*i):
    print(chr(z),end=" ")
    z+=1

  print()

for i in range(1,6):
  z=65
  for j in range(i,5):
    print(" ",end=" ")
  for k in range(1,2*i):
    print(chr(z),end=" ")
    z+=1
  print()

A B C D E F G H I
  A B C D E F G
    A B C D E
      A B C
        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

In [ ]:
# *****
# *   *
# *   *
# *   *
# *****
for i in range(1,6):
  for j in range(1,6):
    if i==1 or j==1 or i==5 or j==5 :
      print("*",end="")
    else:
      print(" ",end="")
  print()

*****
*   *
*   *
*   *
*****

In [ ]:
# 1 2 3 4 5
# 1       5
# 1       5
# 1       5
# 1 2 3 4 5
for i in range(1,6):
  for j in range(1,6):
    if i==1 or j==1 or i==5 or j==5 :
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print()

1 2 3 4 5
1       5
1       5
1       5
1 2 3 4 5

In [ ]:
# A B C D E
# A       E
# A       E
# A       E
# A B C D E
for i in range(1,6):
  a=65
  for j in range(1,6):
    if i==1 or j==1 or i==5 or j==5 :
      print(chr(a),end=" ")
      a+=1
    else:
      a+=1
      print(" ",end=" ")

  print()

A B C D E
A       E
A       E
A       E
A B C D E

In [ ]:
#     *
#    * *
#   *   *
#  *     *
# *       *
#  *     *
#   *   *
#    * *
#     *
for i in range(1,6):
  for j in range(i,5):
    print(" ",end="")
  for k in range(1,2*i):
    if k==1 or k==2*i-1:
      print("*",end="")
    else:
      print(" ",end="")
  print()
for i in range(4,0,-1):
  for j in range(i,5):
    print(" ",end="")
  for k in range(1,2*i):
    if k==1 or k==2*i-1:
      print("*",end="")
    else:
      print(" ",end="")
  print()

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

In [ ]:
#     A
#    A C
#   A   E
#  A     G
# A       I
#  A     G
#   A   E
#    A C
#     A
for i in range(1,6):
  a=65
  for j in range(i,5):
    print(" ",end="")
  for k in range(1,2*i):
    if k==1 or k==2*i-1:
      print(chr(a),end="")
      a+=1
    else:
      a+=1
      print(" ",end="")
  print()
for i in range(4,0,-1):
  a=65
  for j in range(i,5):
    print(" ",end="")
  for k in range(1,2*i):
    if k==1 or k==2*i-1:
      print(chr(a),end="")
      a+=1
    else:
      a+=1
      print(" ",end="")
  print()

    A
   A C
  A   E
 A     G
A       I
 A     G
  A   E
   A C
    A

In [ ]:
#     *
#    ***
#   * * *
#  *  *  *
# *********
for i in range(1,6):
  for j in range(i,5):
    print(" ",end="")
  for k in range(1,i+1):
    if i==5 or k==1 or k==i:
      print("*",end="")
    else:
      print(" ",end="")
  for l in range(1,i):
    if i==5 or l==i-1:
      print("*",end="")
    else:
      print(" ",end="")

  print()

    *
   ***
  * * *
 *  *  *
*********