In [ ]:
x = 65
for i in range(0,3):
  for j in range(0,i+1):
    print(x,end=" ")
    x+=1
  print()

65
66 67
68 69 70

In [ ]:
x = 65
for i in range(0,3):
  for j in range(0,i+1):
    print(chr(x),end=" ")
    x+=1
  print()

A
B C
D E F

In [ ]:
for i in range(0,4):
  for j in range(i,4):
    print("*",end=" ")
  print()

* * * *
* * *
* *
*

In [ ]:
for i in range(0,4):
  num=0
  for j in range(i,4):
    print(j,end=" ")
  print()

0 1 2 3
1 2 3
2 3
3

In [ ]:
num=10
for i in range(0,5):
  for j in range(i,5):
    print(num,end=" ")
    num+=1
  print()

10 11 12 13 14
15 16 17 18
19 20 21
22 23
24

In [ ]:
for i in range(1,5):
  for j in range(i,5):
    print(j,end=" ")
  print()

1 2 3 4
2 3 4
3 4
4

In [ ]:

for i in range(5,0,-1):
  for j in range(0,i):
    if j%2==0:
      print(1,end=" ")
    else:
      print(0,end=" ")

  print()

1 0 1 0 1
1 0 1 0
1 0 1
1 0
1

In [ ]:
for i in range(0,5):
    for j in range(0,5-i):
        print((j+1)%2,end=" ")
    print("")

# or

# for i in range(0,5):
#     for j in range(1,6-i):
#         print(j%2,end=" ")
#     print("")

1 0 1 0 1
1 0 1 0
1 0 1
1 0
1

In [ ]:
x = 1
for i in range(5,0,-1):
  for j in range(0,i):
    if j%2==0:
      print(x,end=" ")
    else:
      print(0,end=" ")
  x+=1
  print()

1 0 1 0 1
2 0 2 0
3 0 3
4 0
5

In [ ]:
for i in range(1,5):
  for j in range(i,4):
    print("-",end=" ")
  for k in range(1,i+1):
    print("*",end=" ")
  print()

- - - *
- - * *
- * * *
* * * *

In [ ]:
for i in range(0,5):
  for j in range(1,i+1):
    print(" ",end=" ")
  for k in range(i,5):
    print("*",end=" ")
  print()

* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
for i in range(0,5):
  for j in range(1,i+1):
    print(" ",end=" ")
  for k in range(i,5):
    if i==0 or k==i or k==4:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
  *     *
    *   *
      * *
        *

In [ ]:
x = 1

for i in range(0,5):
  for j in range(i,5):
    if i==0 or j==4 or i==j:
      print(x,end="  ")

    else:
      print("  ",end="  ")
    x+=1

  print()

1  2  3  4  5
6          9
10      12
13  14
15

In [ ]:
for i in range(0,3):
  for j in range(i,2):
    print(" ",end="")
  for k in range(0,2*i+1):
    print("*",end="")
  print()

  *
 ***
*****

In [ ]:
for i in range(4,0,-1):
  for j in range(i,4):
    print(" ",end="")
  for k in range(0,2*i-1):
    print("*",end="")
  print()

*******
 *****
  ***
   *

In [ ]:
list2 = [10,20,60,80,9]
for i in range(0,len(list2)):
  for j in range(i+1,len(list2)):
    if list2[i]<list2[j]:
      list2[i],list2[j]=list2[j],list2[i]
print("Sorting => ",list2)

Sorting =>  [80, 60, 20, 10, 9]

In [ ]:
prices = [7,1,5,3,6,4]
maxi = 0
for i in range(0,len(prices)):
  for j in range(i+1,len(prices)):
    if prices[j]-prices[i] > maxi:
      maxi = prices[j]-prices[i]

print(maxi)

5

In [ ]:
# Q. Sort a list by single loop.
# Q. Two Sum problem
# Q. plus one
# Q. You have been given two lists having same number of elements and you have
# to merge both the lists by removing the duplicate elements but with a
# single loop without zip and enamurate.

In [7]:
# We have a list and sort it in decresing order with one loop
list1=[10,20,60,80,9]
a=0
while(a<len(list1)-1):
    if(list1[a]<list1[a+1]):
        list1[a],list1[a+1]=list1[a+1],list1[a]
        a=0
    else:
        a+=1
print(list1)

[80, 60, 20, 10, 9]

In [2]:
# Best time to buy and sell stock with one loop
l1=[7,1,5,3,6,4]
a=0
b=1
max1=0
while(b<len(l1)):
    if(l1[a]<l1[b]):
        profit=l1[b]-l1[a]
        if(profit>max1):
            max1=profit
    else:
        a=b
    b+=1
print(max1)

5

In [3]:
# two sum problem
nums = [2,7,11,15]
target = 9
for i in range(0,len(nums)):
    for j in range(i+1,len(nums)):
        if(nums[i]+nums[j]==target):
            print("Index position : ",i,j)
            print("Elements :",nums[i],nums[j])

Index position :  0 1
Elements : 2 7

In [4]:
# You have been given two list and having same num of elements and have to merge both the list by removing the duplicate elements but with a single loop
l1 = [1, 2, 3, 4, 5]
l2 = [4, 5, 6, 7, 8]
res=[]
for i in l1+l2:
    if i not in res:
        res.append(i)
print(res)

[1, 2, 3, 4, 5, 6, 7, 8]

In [5]:
# Leetcode plus 1
digits = [1,2,3]
str1=""
res=[]
for i in digits:
    str1+=str(i)
s1=int(str1)+1
for i in str(s1):
    res.append(int(i))
print(res)

[1, 2, 4]

In [15]:
nums = [-1,0,1,2,-1,-4]
for i in range(0,len(nums)):
  for j in range(i+1,len(nums)):
    for k in range(j+1,len(nums)):
      if nums[i]+nums[j]+nums[k]==0:
        print([nums[i],nums[j],nums[k]])

[-1, 0, 1]
[-1, 2, -1]
[0, 1, -1]

In [16]:
# 3 sum
nums = [-1,0,1,2,-1,-4]
list1=[]
nums.sort()
for i in range(0,len(nums)-2):
    start=i+1
    end=len(nums)-1
    while(start<end):
        if (i != start and i != end and start != end and nums[i] + nums[start] + nums[end] == 0):
            list1.append([nums[i] , nums[start] , nums[end]])
            start+=1
            end-=1
        elif(nums[i] + nums[start] + nums[end] > 0):
            end-=1
        else:
            start+=1
print(list1)

[[-1, -1, 2], [-1, 0, 1], [-1, 0, 1]]

In [1]:
# [10,25,14,6,8,1,78,521,8,654,1,2,521]
# Find second highest value
# k highest

# Find second highest value
# k highest



list2 = [1,1,2,3,4,5,45,3,5,3,5,4,3,21,1]
list2.sort()
print(list2)
start=0
while(start<len(list2)-1):
  if list2[start]==list2[start+1]:
    list2.remove(list2[start+1])
  else:
    start+=1
print(list2)
k = int( input ( " enter k highest valueee: "))
if k> len(list2):
  print(" enter in range list ")
else:
  print("The ",k,"highest value is ",list2[-k])

[1, 1, 1, 2, 3, 3, 3, 3, 4, 4, 5, 5, 5, 21, 45]
[1, 2, 3, 4, 5, 21, 45]
 enter k highest valueee: 2
The  2 highest value is  21

In [ ]:
# Dictionary list and set comprehension

In [2]:
list1 = [x for x in range(10) if x%2==0]
list1

[0, 2, 4, 6, 8]

In [3]:
set1 = {x for x in range(10) if x%2==0}
set1

{0, 2, 4, 6, 8}

In [4]:
dict1 = {x:x**2 for x in range(10)}
dict1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}