In [ ]:
x = 65
for i in range(0,3):
  for j in range(0,i+1):
    print(x,end=" ")
    x+=1
  print()

65
66 67
68 69 70

In [ ]:
x = 65
for i in range(0,3):
  for j in range(0,i+1):
    print(chr(x),end=" ")
    x+=1
  print()

A
B C
D E F

In [ ]:
for i in range(0,4):
  for j in range(i,4):
    print("*",end=" ")
  print()

* * * *
* * *
* *
*

In [ ]:
for i in range(0,4):
  num=0
  for j in range(i,4):
    print(j,end=" ")
  print()

0 1 2 3
1 2 3
2 3
3

In [ ]:
num=10
for i in range(0,5):
  for j in range(i,5):
    print(num,end=" ")
    num+=1
  print()

10 11 12 13 14
15 16 17 18
19 20 21
22 23
24

In [ ]:
for i in range(1,5):
  for j in range(i,5):
    print(j,end=" ")
  print()

1 2 3 4
2 3 4
3 4
4

In [ ]:

for i in range(5,0,-1):
  for j in range(0,i):
    if j%2==0:
      print(1,end=" ")
    else:
      print(0,end=" ")

  print()

1 0 1 0 1
1 0 1 0
1 0 1
1 0
1

In [ ]:
for i in range(0,5):
    for j in range(0,5-i):
        print((j+1)%2,end=" ")
    print("")

# or

# for i in range(0,5):
#     for j in range(1,6-i):
#         print(j%2,end=" ")
#     print("")

1 0 1 0 1
1 0 1 0
1 0 1
1 0
1

In [ ]:
x = 1
for i in range(5,0,-1):
  for j in range(0,i):
    if j%2==0:
      print(x,end=" ")
    else:
      print(0,end=" ")
  x+=1
  print()

1 0 1 0 1
2 0 2 0
3 0 3
4 0
5

In [ ]:
for i in range(1,5):
  for j in range(i,4):
    print("-",end=" ")
  for k in range(1,i+1):
    print("*",end=" ")
  print()

- - - *
- - * *
- * * *
* * * *

In [ ]:
for i in range(0,5):
  for j in range(1,i+1):
    print(" ",end=" ")
  for k in range(i,5):
    print("*",end=" ")
  print()

* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
for i in range(0,5):
  for j in range(1,i+1):
    print(" ",end=" ")
  for k in range(i,5):
    if i==0 or k==i or k==4:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
  *     *
    *   *
      * *
        *

In [ ]:
x = 1

for i in range(0,5):
  for j in range(i,5):
    if i==0 or j==4 or i==j:
      print(x,end="  ")

    else:
      print("  ",end="  ")
    x+=1

  print()

1  2  3  4  5
6          9
10      12
13  14
15

In [ ]:
for i in range(0,3):
  for j in range(i,2):
    print(" ",end="")
  for k in range(0,2*i+1):
    print("*",end="")
  print()

  *
 ***
*****

In [ ]:
for i in range(4,0,-1):
  for j in range(i,4):
    print(" ",end="")
  for k in range(0,2*i-1):
    print("*",end="")
  print()

*******
 *****
  ***
   *

In [ ]:
list2 = [10,20,60,80,9]
for i in range(0,len(list2)):
  for j in range(i+1,len(list2)):
    if list2[i]<list2[j]:
      list2[i],list2[j]=list2[j],list2[i]
print("Sorting => ",list2)

Sorting =>  [80, 60, 20, 10, 9]

In [ ]:
prices = [7,1,5,3,6,4]
maxi = 0
for i in range(0,len(prices)):
  for j in range(i+1,len(prices)):
    if prices[j]-prices[i] > maxi:
      maxi = prices[j]-prices[i]

print(maxi)

5

In [ ]:
# Q. Sort a list by single loop.
# Q. Two Sum problem
# Q. plus one
# Q. You have been given two lists having same number of elements and you have
# to merge both the lists by removing the duplicate elements but with a
# single loop without zip and enamurate.

In [ ]:
# We have a list and sort it in decresing order with one loop
list1=[10,20,60,80,9]
a=0
while(a<len(list1)-1):
    if(list1[a]<list1[a+1]):
        list1[a],list1[a+1]=list1[a+1],list1[a]
        a=0
    else:
        a+=1
print(list1)

[80, 60, 20, 10, 9]

In [ ]:
# Best time to buy and sell stock with one loop
l1=[7,1,5,3,6,4]
a=0
b=1
max1=0
while(b<len(l1)):
    if(l1[a]<l1[b]):
        profit=l1[b]-l1[a]
        if(profit>max1):
            max1=profit
    else:
        a=b
    b+=1
print(max1)

5

In [ ]:
# two sum problem
nums = [2,7,11,15]
target = 9
for i in range(0,len(nums)):
    for j in range(i+1,len(nums)):
        if(nums[i]+nums[j]==target):
            print("Index position : ",i,j)
            print("Elements :",nums[i],nums[j])

Index position :  0 1
Elements : 2 7

In [ ]:
# You have been given two list and having same num of elements and have to merge both the list by removing the duplicate elements but with a single loop
l1 = [1, 2, 3, 4, 5]
l2 = [4, 5, 6, 7, 8]
res=[]
for i in l1+l2:
    if i not in res:
        res.append(i)
print(res)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# Leetcode plus 1
digits = [1,2,3]
str1=""
res=[]
for i in digits:
    str1+=str(i)
s1=int(str1)+1
for i in str(s1):
    res.append(int(i))
print(res)

[1, 2, 4]

In [ ]:
nums = [-1,0,1,2,-1,-4]
for i in range(0,len(nums)):
  for j in range(i+1,len(nums)):
    for k in range(j+1,len(nums)):
      if nums[i]+nums[j]+nums[k]==0:
        print([nums[i],nums[j],nums[k]])

[-1, 0, 1]
[-1, 2, -1]
[0, 1, -1]

In [ ]:
# 3 sum
nums = [-1,0,1,2,-1,-4]
list1=[]
nums.sort()
for i in range(0,len(nums)-2):
    start=i+1
    end=len(nums)-1
    while(start<end):
        if (i != start and i != end and start != end and nums[i] + nums[start] + nums[end] == 0):
            list1.append([nums[i] , nums[start] , nums[end]])
            start+=1
            end-=1
        elif(nums[i] + nums[start] + nums[end] > 0):
            end-=1
        else:
            start+=1
print(list1)

[[-1, -1, 2], [-1, 0, 1], [-1, 0, 1]]

In [ ]:
# [10,25,14,6,8,1,78,521,8,654,1,2,521]
# Find second highest value
# k highest

# Find second highest value
# k highest



list2 = [1,1,2,3,4,5,45,3,5,3,5,4,3,21,1]
list2.sort()
print(list2)
start=0
while(start<len(list2)-1):
  if list2[start]==list2[start+1]:
    list2.remove(list2[start+1])
  else:
    start+=1
print(list2)
k = int( input ( " enter k highest valueee: "))
if k> len(list2):
  print(" enter in range list ")
else:
  print("The ",k,"highest value is ",list2[-k])

[1, 1, 1, 2, 3, 3, 3, 3, 4, 4, 5, 5, 5, 21, 45]
[1, 2, 3, 4, 5, 21, 45]
 enter k highest valueee: 2
The  2 highest value is  21

In [ ]:
# Dictionary list and set comprehension

In [ ]:
list1 = [x for x in range(10) if x%2==0]
list1

[0, 2, 4, 6, 8]

In [ ]:
set1 = {x for x in range(10) if x%2==0}
set1

{0, 2, 4, 6, 8}

In [ ]:
dict1 = {x:x**2 for x in range(10)}
dict1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
num1=int(input("Enter the num to convert into roman :"))
dict1={1000:"M",900:"CM",500:"D",400:"CD",100:"C",90:"XC",50:"L",40:"XL",10:"X",9:"IX",5:"V",4:"IV",1:"I"}
roman_num=""
for i in dict1:
  while(num1>=i):
    roman_num+=dict1[i]
    num1-=i
print(roman_num)

Enter the num to convert into roman :567
DLXVII

In [ ]:
# set ---> datatype ---> unique elements
myset = set({}) # Empty set

In [ ]:
myset = {10,20,30,40,44}
print(myset)

{20, 40, 10, 44, 30}

In [ ]:
myset.add(50)

In [ ]:
print(myset)

{50, 20, 40, 10, 44, 30}

In [ ]:
myset = {10,20,30}
myset2 = {30,40,50}
myset.union(myset2)

{10, 20, 30, 40, 50}

In [ ]:
myset = {10,20,30,40,50}
myset2 = {30,40,50}
myset.difference(myset2)

{10, 20}

In [ ]:
myset = {10,20,30,40,50}
myset2 = {30,40,50}
myset2.issubset(myset)

True

In [ ]:
myset = {10,20,30,40,50}
myset2 = {30,40,50}
myset2.issuperset(myset)

False

In [ ]:
# List Comprehension:
[i for i in range(1,10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Set Comprehension
{i for i in range(1,10)}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# Dictionary Comprehension
{i:1 for i in range(1,10)}

{1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1}

In [ ]:
# identity operator reference to memory address
# python store 0-256 num in cache memory
x=256
a=256
a=x is a
print(id(a),id(x))
a

9692800 10759016

True

In [ ]:
# Functions: Block of code---> Write logic and use it multiole times
#                              Code reusability
# def func():
#    logic

In [ ]:
y = 20    # Global Variable
def func():

  x1 = 10 # Local Variable
  y = 500 # Locally change
  print("Hello World",x1,y)
func()
print("Outside Function=>",y)
# print(x1) ---> cannot be accessed outside function

Hello World 10 500
Outside Function=> 20

In [ ]:
y = 20    # Global Variable
def func():
  global y  # Variable made global ---> Now local change show in global
  x1 = 10 # Local Variable
  y = 500
  print("Hello World",x1,y)
func()
print("Outside Function=>",y)
# print(x1) ---> cannot be accessed outside function

Hello World 10 500
Outside Function=> 500

In [ ]:
# we write z:int for understanding that give int value to z but
#                                    it can be any type of data

In [ ]:
# type hint
def func(z:int , k:str):
  print("Hello World",z,k)

func(90,"vineet")

Hello World 90 vineet

In [ ]:
# learning assignment
# keyword argument and default argument
# var len argument and keyword len argument (args and kwargs)
# high order func and first class func

In [ ]:
def square(n):
    return n * n

def apply_function(func, value):
    return func(value)  # Calling the passed function

print(apply_function(square, 5))

25

In [ ]:
def func(x,y):
  print(x,y)

func(160,1448)

160 1448

In [ ]:
# *args => variable length arguments
def func(*a):
  print(a)

In [ ]:
func()
func(10)
func(11,12,23,3,4)

()
(10,)
(11, 12, 23, 3, 4)

In [ ]:
# **kwargs => keyword variable lenth argument
def func(**a):
  print(a)

In [ ]:
func(userid = 10)
func(salary = 1448 , post = "accountant")

{'userid': 10}
{'salary': 1448, 'post': 'accountant'}

In [ ]:
# lambda functions ---> anonymous functions ---> one line functions
def funx(x):
  print("abc")
print(func)

u1 = lambda x : "abc"
u1(10)

# Syntax =>  lambda parameter : expression

<function func at 0x79dfac178d60>

'abc'

In [ ]:
# "hey vineet here user" ---> "user tushar here hey"
x = "hey vineet here user"
mylist = x.split(" ")
mylist[-1],mylist[0] = mylist[0],mylist[-1]
" ".join(mylist)

'user vineet here hey'

In [ ]:
def func(x):
  print("inside => ",x.split(" "))

func("hey vineet here")

inside =>  ['hey', 'vineet', 'here']

In [ ]:
lambda x : x.split(" ")[-1]
u2 = lambda x : x.split(" ")[-1]
u2("hey vineet here")

'here'

In [ ]:
def func(a):
  return a+5
print(func(18))

23

In [ ]:
out = func(18)
print(out)

23

In [ ]:
mylist = [10,102,3,4,56]
x = map( lambda a: a+5 , mylist)
print( next(x) )
print( next(x) )

15
107

In [ ]:
mylist = [10,102,3,4,56]
list(map( lambda a: a+5 , mylist))

[15, 107, 8, 9, 61]

In [ ]:
mylist= [10,25,14,6,8,1,78,521,8,654,1,2,521]

x = list(map(lambda a:a%2==0,mylist))

x

[True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False]

In [ ]:
mylist= [10,25,14,6,8,1,78,521,8,654,1,2,521]

x = list(filter(lambda a:a%2==0,mylist))

x

[10, 14, 6, 8, 78, 8, 654, 2]

In [1]:
# Assignment
# Q1
# l1=[10,20,300]
# l2=[40,50,60]
# {10:40,  20:50,  300:60}
# # note using zip and without zip
# =>
l1=[10,20,300]
l2=[40,50,60]
dict1={}
for i in range(len(l1)):
  dict1[l1[i]] = l2[i]
print(dict1)

In [2]:
# sol 1.

{10: 40, 20: 50, 300: 60}

In [3]:
# Q2 {name: marks .. . . . .  ======>} multiple elements
# now take a input from the user for score variable
# - print the key who have more value then the score variable
# =>
marks = {
    "prakul": 85,
    "Anmol": 70,
    "vineet": 90,
    "anshul": 60,
    "gursewak": 95
}
x = int(input("Enter the score : "))

print("Students who scored more than",x,"are : ")
for i in marks:
  if marks[i] > x:
    print(i,marks[i])

Enter the score : 78
Students who scored more than 78 are :
prakul 85
vineet 90
gursewak 95

In [6]:
# Q3 {10:19,  11:20,  13:NONE}
# delete the key-value pair where the value is none
# =>
dict1={10:19,  11:20,  13:None}
d1={k:v for k,v in dict1.items() if v!=None}
print(d1)

{10: 19, 11: 20}

In [7]:
# Q4:   {"x":5, "y":7, "z":10}
# print new dictionary as square of each key {x:25, y:49,  z:100}
# =>
dict1={"x":5, "y":7, "z":10}
d1={k:v**2 for k,v in dict1.items()}
print(d1)

{'x': 25, 'y': 49, 'z': 100}

In [8]:
# Q5
# create a dictionary as cube of number from 1 to 5
# {1:1, 2:8, 3:27, 4:64, 5:125}
# Note use only thing we have learnt
# =>
dict1 = {x:x**3 for x in range(1,6)}
print(dict1)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [9]:
# Q6 {"x":5, "y":7, "z":10}
# get the ans in new dictionary {"average":7.3 ,   "max":10}
# =>
dict1 = {"x":5, "y":7, "z":10}
average=sum(dict1.values())/len(dict1)
maxi=max(dict1.values())
dict2={"average":round(average,1),"max":average}
print(dict2)

# Q6 {"x":5, "y":7, "z":10}
# get the ans in new dictionary {"average":7.3 ,   "max":10}
# =>
dict1={"x":5, "y":7, "z":10}
average=sum(dict1.values())/len(dict1)
maxi=max(dict1.values())
dict2={"average":round(average,1),"max":average}
print(dict2)

{'average': 7.3, 'max': 7.333333333333333}
{'average': 7.3, 'max': 7.333333333333333}