In [ ]:
x = 65
for i in range(0,3):
  for j in range(0,i+1):
    print(x,end=" ")
    x+=1
  print()

65
66 67
68 69 70

In [ ]:
x = 65
for i in range(0,3):
  for j in range(0,i+1):
    print(chr(x),end=" ")
    x+=1
  print()

A
B C
D E F

In [ ]:
for i in range(0,4):
  for j in range(i,4):
    print("*",end=" ")
  print()

* * * *
* * *
* *
*

In [ ]:
for i in range(0,4):
  num=0
  for j in range(i,4):
    print(j,end=" ")
  print()

0 1 2 3
1 2 3
2 3
3

In [ ]:
num=10
for i in range(0,5):
  for j in range(i,5):
    print(num,end=" ")
    num+=1
  print()

10 11 12 13 14
15 16 17 18
19 20 21
22 23
24

In [ ]:
for i in range(1,5):
  for j in range(i,5):
    print(j,end=" ")
  print()

1 2 3 4
2 3 4
3 4
4

In [ ]:

for i in range(5,0,-1):
  for j in range(0,i):
    if j%2==0:
      print(1,end=" ")
    else:
      print(0,end=" ")

  print()

1 0 1 0 1
1 0 1 0
1 0 1
1 0
1

In [ ]:
for i in range(0,5):
    for j in range(0,5-i):
        print((j+1)%2,end=" ")
    print("")

# or

# for i in range(0,5):
#     for j in range(1,6-i):
#         print(j%2,end=" ")
#     print("")

1 0 1 0 1
1 0 1 0
1 0 1
1 0
1

In [ ]:
x = 1
for i in range(5,0,-1):
  for j in range(0,i):
    if j%2==0:
      print(x,end=" ")
    else:
      print(0,end=" ")
  x+=1
  print()

1 0 1 0 1
2 0 2 0
3 0 3
4 0
5

In [ ]:
for i in range(1,5):
  for j in range(i,4):
    print("-",end=" ")
  for k in range(1,i+1):
    print("*",end=" ")
  print()

- - - *
- - * *
- * * *
* * * *

In [ ]:
for i in range(0,5):
  for j in range(1,i+1):
    print(" ",end=" ")
  for k in range(i,5):
    print("*",end=" ")
  print()

* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
for i in range(0,5):
  for j in range(1,i+1):
    print(" ",end=" ")
  for k in range(i,5):
    if i==0 or k==i or k==4:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
  *     *
    *   *
      * *
        *

In [ ]:
x = 1

for i in range(0,5):
  for j in range(i,5):
    if i==0 or j==4 or i==j:
      print(x,end="  ")

    else:
      print("  ",end="  ")
    x+=1

  print()

1  2  3  4  5
6          9
10      12
13  14
15