In [ ]:
# Feature Engineering-----> This is a process in which we WILL set our dats in an appropriate
# format so that we can send it to model training .

# Normal Distribution
# from the centroid .
# Mean centroid -----> iN THIS DICTRINUTION , points are equal(Left side and right side)
# mean = e
# Standard deviation = 1
# Standard deviation -----> mean
# Std 1

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Pandas\\placement.csv")

In [3]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [5]:
x = df.drop(columns = ['placed'])   ## Input data
x

    cgpa  resume_score
0   8.14          6.52
1   6.17          5.17
2   8.27          8.86
3   6.88          7.27
4   7.52          7.30
..   ...           ...
95  6.33          6.38
96  8.23          7.76
97  6.65          7.78
98  8.14          5.63
99  6.09          6.61

[100 rows x 2 columns]

In [6]:
y = df['placed']   ## Target data
y

0     1
1     0
2     1
3     1
4     1
     ..
95    0
96    1
97    0
98    1
99    0
Name: placed, Length: 100, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

In [10]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 
                                                        , random_state = 42)

In [11]:
print("Total Data Shape :",df.shape)
print("Input data shape(x) :",x.shape)
print("Input data shape(x_train) :",x_train.shape)
print("Input data shape(x_test) :",x_test.shape)

print("Target data shape(y) :",y.shape)
print("Target data shape(y_train) :",y_train.shape)
print("Target data shape(y_test) :",y_test.shape)

Total Data Shape : (100, 3)
Input data shape(x) : (100, 2)
Input data shape(x_train) : (80, 2)
Input data shape(x_test) : (20, 2)
Target data shape(y) : (100,)
Target data shape(y_train) : (80,)
Target data shape(y_test) : (20,)

In [12]:
np.round(x_train.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean    6.95          7.00
std     1.13          1.01
min     5.27          4.95
25%     6.00          6.28
50%     6.62          7.15
75%     8.06          7.69
max     9.31          9.06

In [17]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\vinee\appdata\local\programs\python\python310\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\vinee\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (2.2.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\vinee\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\vinee\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\vinee\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (3.5.0)

[notice] A new release of pip is available: 23.0.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
from sklearn.preprocessing import StandardScaler

In [22]:
sc = StandardScaler()

In [23]:
x_train_sc = sc.fit_transform(x_train) 
# fit means learn the parameter and transform means apply on the data

In [24]:
x_train_new=pd.DataFrame(x_train_sc, columns=x_train.columns)

In [25]:
np.round(x_train_new.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean   -0.00         -0.00
std     1.01          1.01
min    -1.50         -2.04
25%    -0.85         -0.72
50%    -0.29          0.15
75%     0.99          0.69
max     2.11          2.05

# Assignment

In [27]:
df1=pd.read_csv("C:\\Pandas\\tips.csv")

In [28]:
df1.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [29]:
a=df1.drop(columns=['sex','smoker','day','time'])
# a

In [30]:
x1=a.drop(columns=['size']) # Input data
# x1

In [31]:
y1=a['size']
# y1

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
x1_train, x1_test, y1_train, y1_test = train_test_split(x1,y1,test_size=0.2,random_state=42)

In [34]:
print("Total Data Shape :",a.shape)
print("Input data shape(x1) :",x1.shape)
print("Input data shape(x1_train) :",x1_train.shape)
print("Input data shape(x1_test) :",x1_test.shape)

print("Target data shape(y1) :",y1.shape)
print("Target data shape(y1_train) :",y1_train.shape)
print("Target data shape(y1_test) :",y1_test.shape)

Total Data Shape : (244, 3)
Input data shape(x1) : (244, 2)
Input data shape(x1_train) : (195, 2)
Input data shape(x1_test) : (49, 2)
Target data shape(y1) : (244,)
Target data shape(y1_train) : (195,)
Target data shape(y1_test) : (49,)

In [35]:
np.round(x1_train.describe(),2)

       total_bill     tip
count      195.00  195.00
mean        20.22    3.09
std          8.77    1.43
min          5.75    1.00
25%         13.66    2.00
50%         17.92    3.00
75%         24.86    3.70
max         50.81   10.00

In [36]:
from sklearn.preprocessing import StandardScaler

In [37]:
sc1=StandardScaler()

In [38]:
x1_train_sc1 = sc1.fit_transform(x1_train)

In [39]:
x1_train_new=pd.DataFrame(x1_train_sc1, columns=x1_train.columns)

In [40]:
np.round(x1_train_new.describe(),2)

       total_bill     tip
count      195.00  195.00
mean         0.00   -0.00
std          1.00    1.00
min         -1.65   -1.46
25%         -0.75   -0.76
50%         -0.26   -0.06
75%          0.53    0.43
max          3.50    4.85